<script type="text/javascript" src="public/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="public/js/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="public/js/lib/angular-resource/angular-resource.js"></script>

<script type="text/javascript" src="public/js/app/init.js"></script>
<script type="text/javascript" src="public/js/app/main/index.js"></script>
<script type="text/javascript" src="public/js/app/main/routes.js"></script>
<script type="text/javascript" src="public/js/app/main/services/links.js"></script>
<script type="text/javascript" src="public/js/app/main/controllers/home.js"></script>