<nav class="sidebar">
	<h1 id="logo" class="logo wrap wide">
		<a href="/">
			<span class="name">Alasdair <span class="thin caps">Smith</span></span>
			<span class="pipe" aria-hidden="true"></span>
			<span class="nick">40 <span class="thin caps">Thieves</span></span>
		</a>
	</h1>

	<ul class="sidebar-tabs" id="main-nav">
		<li><a href="http://alasdairsmith.co.uk">Home</a></li>
		<li><a href="/" class="active">Links</a></li>
		<li><a href="/new">Add Link</a></li>
		<li><a href="/tags">Tags</a></li>
	</ul>
</nav>