{% extends 'layouts/default.html' %}

{% block content %}
	<div class="page-header col-lg-offset-1 col-lg-12">
		<h1>Best of Bot <small>Beta</small></h1>
	</div>

	<section>
		Best of Bot is an IRC bot/website that tracks the best moments of <a href="http://www.dailytechnewsshow.com">Daily Tech News Show</a>, an (aptly named) daily tech news podcast hosted by <a href="http://www.tommerritt.com/">Tom Merritt</a>.

		During the Christmas break, Tom does a "best of" show with clips from the previous year. This is obviously a lot of work, so the Best of Bot tracks potential best of moments to help out.

		To record a best of moment, join the chat room at <a href="http://irc.dtns.tv">irc.dtns.tv</a>, and use the <code>!b</code> identifier (or bangtag, as I'm calling it) followed by a short description. This will then calculate the timestamp in the YouTube video and save it.
	</section>
{% endblock %}