{% extends 'layouts/default.html' %}

{% block content %}
	<div class="page-header col-lg-offset-1 col-lg-10">
		<h1>Best of Bot <small>Beta</small></h1>
	</div>

	<section class="about col-lg-offset-1 col-lg-10">
		<p class="lead">Best of Bot is an IRC bot/website that tracks the best moments of <a href="http://www.dailytechnewsshow.com">Daily Tech News Show</a>, an (aptly named) daily tech news podcast hosted by <a href="http://www.tommerritt.com/">Tom Merritt</a>.</p>

		<p>During the Christmas break, Tom does a "best of" show with clips from the previous year. This is obviously a lot of work, so the Best of Bot tracks potential best of moments to help out.</p>

		<p>To record a best of moment, join the chat room at <a href="http://irc.dtns.tv">irc.dtns.tv</a>, and use the <code>!b</code> identifier (or bangtag, as I'm calling it) followed by a short description. When it sees this it calculates a timestamp relative to the start of the show video. This timestamp is then used to generate an embedded Youtube video that starts at the correct time right here!</p>

		<hr>

		<p>Created by <a href="http://alasdairsmith.co.uk">Ali Smith</a> (<a href="https://twitter.com/40_thieves">@40_thieves</a>). Source code for the <a href="https://github.com/40thieves/bestofbot-webapp">bot</a> and the <a href="https://github.com/40thieves/bestofbot">website frontend</a> are available on Github under a MIT license. If you find a bug, please let me know or on Twitter or via Github issues!</p>
	</section>
{% endblock %}